# ==============================
# Arquivos de Sistema e Metadados
# ==============================
**/.DS_Store

# ==============================
# Artefatos e Ambientes Python
# ==============================
**/__pycache__
**/.venv
**/.env*
**/.pytest_cache
**/.coverage
**/htmlcov
**/.ruff_cache

# ==============================
# Controle de Versão
# ==============================
**/.git
**/.gitignore

# ==============================
# Configurações de IDEs e Ferramentas
# (Eclipse, VS Code, Visual Studio, etc.)
# ==============================
**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user

# ==============================
# Arquivos do Docker e Configurações
# ==============================
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/compose.y*ml

# ==============================
# Dependências e Logs (Node.js e similares)
# ==============================
**/node_modules
**/npm-debug.log

# ==============================
# Build e Artefatos de Compilação
# ==============================
**/bin
**/obj

# ==============================
# Testes
# ==============================
**/tests

# ==============================
# Configurações e Ferramentas JavaScript
# ==============================
**/jest.config.js
**/jest.setup.js
**/prettierrc.json
**/eslint.config.js

# ==============================
# Arquivos de Banco de Dados e Outros
# ==============================
**/*.dbmdl
**/*.jfm
**/charts
**/*.db

# ==============================
# Segredos e Configurações de Ambiente
# ==============================
**/secrets.dev.yaml
**/values.dev.yaml

# ==============================
# Documentação e Licença
# ==============================
**/docs
**/LICENSE
**/README.md
